<h1>Weighted Down</h1>

<h2>Say what now?</h2>

<p>Hey there. This is Weighted Down, right now it's really just a simple food diary, which lets you put in calories too and also helps you track your daily weight.</p>
<p>That's about it.</p>
<p>It doesn't have a search feature for meal types and associated calories, which you might think it would.</p>
<p>When I used a site that does, I felt it took too long to search for my food and put it on the site. So I built this. I won't feel bad if you choose to use something that does though.</p>
<p>I always found searching for the food to be really slow, and limited myself to foods that were already in the system.</p>
<p>So I built a site that would let people like me do "best guesses" instead of worrying about specifics.</p>
<p>Whatever you decide to do, good luck with your weight loss!</p>

<h2>Login</h2>

<%= form_tag sessions_path do %>
	<p>
		<%= text_field_tag :email, params[:email], :placeholder => "email"  %><br />
		<%= password_field_tag :password, "", :placeholder => "password" %>
	</p>
	
	<button type="submit" class="small red awesome">Login</button> or <%= link_to 'join here', join_url %>.
<% end %>
