<h1>Login</h1>

<%= form_tag sessions_path do %>
	<p>
		<%= text_field_tag :email, params[:email], :placeholder => "email"  %><br />
		<%= password_field_tag :password, "", :placeholder => "password" %>
	</p>
	
	<button type="submit" class="small red awesome">Login</button>
<% end %>
