body {
	font-family:Muli, verdana;
	margin:5px;
	text-shadow: 0.5px 0.5px 1 silver;
	color:black;
	background-color:#EBEEE3;
}

#container {
	margin-left:auto;
	margin-right:auto;
	max-width:600px;
}

p {
	margin-top:5px;
}

/* Headers */

h1, h2, h3 {
	margin:10px 0px 10px 0px;
}

h1 {
	font-size:1.3em;
	font-weight:bold;
}

h1.dashboard {
	text-align:center;
}

h2 {
	font-size:1.2em;
	font-weight:bold;
}

/* Nav Bar */
nav {
	font-size:0.8em;
	text-align:right;
}

#date_nav {
	margin-top:10px;
	text-align:center;
}

/* Footer */
#footer {
	font-size:0.8em;
	text-align:right;
	background:rgba(255, 255, 255, 0.3);
	font-family:verdana;
	color:gray;
	text-shadow:none;
	margin-top:20px;
	padding:10px;
	border-radius:5px;
}

/* Flash */

#flash_alert {
	border:1px solid #CC3333;
	margin: 20px 0px;
	padding:10px;
	background-color:rgba(255, 0, 0, 0.1);
}

#flash_notice {
	border:1px solid yellow;
	margin: 20px 0px;
	padding:10px;
	background-color:rgba(255, 255, 0, 0.1);
}

/* Hyperlinks */

a:link, a:hover, a:visited, a:active {
	color:#cc3333;
	text-decoration:none;
	text-shadow:;
}

/* Foods */
ul.foods li {
	color:black;
	margin:1px 0px 0px 0px;
	padding:5px 5px 5px 5px;
	background-color:rgba(0, 0, 0, 0.1);
}

/* Inputs/Forms */

input, textarea {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF;
	}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #C9C9C9;
	}

/* Buttons */
input {
}

.awesome {
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

/* Sizes ---------- */
.small.awesome {
	font-size: 13px;
}
.medium.awesome {
	font-size: 13px;
}
.large.awesome {
	font-size: 14px;
	padding: 8px 14px 9px;
}
 
/* Colors ---------- */
.blue.awesome {
	background-color: #2daebf;
}
.red.awesome {
	background-color: #cc3333;
}
.magenta.awesome {
	background-color: #a9014b;
}
.orange.awesome {
	background-color: #ff5c00;
}
.yellow.awesome {
	background-color: #ffb515;
}

/* Profile Calendar */
.day {
	background-color:rgba(255, 255, 255, 0.6);
	margin:1px 1px;
	padding:5px;
	float:left;
	font-size:1.2em;
	text-shadow: 1px 1px 0 white;
	min-width:1.4em;
	text-align:center;
	border-radius:0.2em;
}

.clear {
	clear:both;
}

.bad {
	color:red;
}

.good {
	color:green;
}

.meh {
	color:silver;
}