<h1>Profile</h1>

	<h2>The Last 30 Days</h2>
	<p>Total <%= @total_loss %> pounds lost.</p>
	<% @weight_change.each do |weight| %>
		<%
			happy_class = 'meh'
			happy_class = 'bad' if weight > 0
			happy_class = 'good' if weight < 0
		%>	
		<div class="day <%= happy_class %>">
			<%= number_to_human(weight, :strip_insignificant_zeros => true) %>
		</div>
	<% end %>
	<div class="clear" />